* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%,
}

body {
    min-height: 100%;
    line-height: 1.5;

    header,
    main,
    footer {
        padding-inline: 25px;

    }
}

ul {
    list-style-type: none;

    >li:not(:last-child) {
        margin-right: 40px;
    }
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}