@use "../abstract/animationer";

main {
    margin-inline: auto;
    margin-top: 100px;

    h1 {
        text-align: center;
    }

    h1,
    section {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 10px;
    }

    >h1,
    h2 {
        text-transform: capitalize;
    }

    .text-container {
        width: 0;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        padding-right: 15px;
        border-right: 2px solid darkgrey;
        animation: animatedText 5s steps(33) infinite;
    }

    .animated-text {
        font-size: 1.3rem;
    }

    .circle-container {
        position: relative;
        height: 150px;

        .move-circle {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: goldenrod;
            position: absolute;
            top: 50%;
            animation: move 5s linear infinite;
        }

    }

    button {
        padding: 10px 20px;
        font-size: 1.2rem;
        border: 2px solid lightgreen;
        transition: background-color 0.2s ease, transform 0.2s ease;
        cursor:pointer;

        &:hover {
            background-color: lightgreen;
            transform: scale(1.1);
        }
    }
}