@use "../abstract/variables" as vars;
@use "../abstract/mixins" as mixins;

main {
    margin: 60px auto;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-bottom: 80px;
        max-width:500px;

        img {
            @include mixins.responsive-image();
        }

        h2 {
            color: vars.$light-heading-color;
        }

        p {
            color: vars.$light-paragraph-color;
            max-width: 65ch;
            font-size: 1.2rem;
        }

        a::first-letter {
            text-transform: capitalize;
        }

        a {
            color: vars.$light-link-color;
            text-decoration: underline;
            text-underline-offset: 4px;
            align-self: self-start;

        }
    }
}

@media (prefers-color-scheme: dark) {
    main {
        section {
            h2 {
                color: vars.$dark-heading-color;
            }

            p {
                color: vars.$dark-paragraph-color;
            }

            a {
                color: vars.$dark-link-color;
            }
        }
    }
}