@use "../abstract/variables" as vars;

main {
    max-width: 750px;
    width: 100%;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    form {
        margin-bottom:25px;
        label {
            color: vars.$light-heading-color;
            margin-bottom: 5px;
            font-size: 1.2rem;
            text-transform: capitalize;
        }

        div {
            display: flex;
            align-items: center;
            height: 40px;
        }

        input {
            flex: 2;
            height: 100%;
            outline: none;
            padding-left: 6px;

        }

        button {
            flex: 0.5;
            height: 100%;
            cursor: pointer;
            background-color: vars.$light-bt-green;
            font-size: 1.2rem;
            border: none;
        }
    }

    #wrapper {
        position: relative;
        width: 100%;
        height: 100vh;

        #map {
            position: absolute;
            inset: 0;
            aspect-ratio: 16/9;
            z-index:-1;
        }
    }
    a{
        color:goldenrod;
        text-decoration: underline;
    }
}


@media (prefers-color-scheme: dark) {
    main {
        form {
            label {
                color: vars.$dark-heading-color;
            }
        }

    }
}