//ljust färgschema:

// Bakgrundsfärger
$light-body-bg: #f5f5f5;           
$light-header-footer-bg: #FFF1E0;    

// Textfärger
$light-heading-color: #000000;      
$light-paragraph-color: #333333;     

// Länkar
$light-link-color: #000000;          
$light-nav-link-color: #5C3D2E;      
$light-link-hover: #3498db;          

// knappar
$light-btn-blue: #3498db; 
$light-bt-green: #2ecc71;
$light-bt-danger: #e74c3c;


//mörkt färgschema:

// Bakgrundsfärger
$dark-body-bg: #1c1c1c;        
$dark-header-footer-bg: #2b2b2b;   

// Textfärger
$dark-heading-color: #ffffff;       
$dark-paragraph-color: #e0e0e0;     

// Länkar
$dark-link-color: #ffcc80;          
$dark-nav-link-color: #ffe0b2;     
$dark-link-hover: #ff9800; 